<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title> Quoting Dojo Redux</title>
  </head>
  <body>
    <h2>Change the name</h2>
    <form action='/updatedog/<%=collections[0].id%>' method='post' >

      New Name:<input type='text' name='name' value='<%=collections[0].name%>' />

      <input type='submit' value='New Name' />
    </form>

      <button style="margin-top: 10px;"><a href='/'>JK, Go Home</a></button>
  </body>
</html>
