<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title> Quoting Dojo Redux</title>
  </head>
  <body>
    <h2>Coding Dojo Dogs</h2>
    <form action='/newdogs' method='post' >

      Dog Name:<input type='text' name='name' />

      <input type='submit' value='New Dog!' />
    </form>

      <button style="margin-top: 10px;"><a href='/'>JK, Go Home</a></button>
  </body>
</html>
